.general {
font-family: arial;
text-align: center;
background-image: linear-gradient(to left, orange 43%, orangered, yellow);
}

#fblue {
background-image:radial-gradient(circle, black, wheat, powderblue, dodgerblue);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
font-family: verdana;
text-align: left;
font-size: 76px;
}

#fblue:hover {
text-align: right;
}

#circle {
border-radius: 50%;
    padding: 0px;
    border: 20px black solid;
    margin: 19px;
}

#circle:hover {
padding: 19px;
border: 20px black dashed;
margin: 0px;
}

#liste {
text-align: left;
padding-left: 42%;
}

h2 {
font-size: 47px;
font-weight: 900;
}